@mixin layout-rules-common($suffix) {

  .f-hide#{$suffix} { 
    display: none;
  }

  .f-show#{$suffix} {
    display: block;
  }

  .f-row#{$suffix}, .f-column#{$suffix} {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;

    & > * {
      flex: 0 0 auto; 
    }

    &.f-show#{$suffix} {
      display: flex;
    }

    &.f-padding#{$suffix} > * { 
      padding:10px;
    }

    &.f-margin#{$suffix} > * {
      margin:10px;
    }

    & > .f-grow#{$suffix} {
      flex: 1 1 auto;
    }

    & > .f-shrink#{$suffix} {
      flex: 0 0;
    }

    & > .f-fixed#{$suffix} {
      flex: 0 0 auto;
    }

    @for $i from 1 through 5 {
      & > .f-order-#{$i}#{$suffix} {
        order: $i;  
      }
    }
  }

}

@mixin layout-rules($suffix) {
  
  @include layout-rules-common($suffix);
  
  .f-row#{$suffix} {
    flex-direction: row; 
    line-height: 1;

    &.f-left#{$suffix} {
      flex: 0 0 auto; 
    }

    &.f-center#{$suffix} {
      justify-content: center;
    }

    &.f-right#{$suffix} {
      justify-content: flex-end;
    }

    &.f-spread#{$suffix} {
      justify-content: space-between;
    }

    &.f-spaced#{$suffix} {
      justify-content: space-around;
    }

    &.f-top#{$suffix} {
      align-items: flex-start;
    }

    &.f-middle#{$suffix} {
      align-items: center;
    }

    &.f-bottom#{$suffix} {
      align-items: flex-end;
    }

    &.f-stretch#{$suffix} {
      align-items: stretch;
    }

    &.f-baseline#{$suffix} {
      align-items: baseline;
    }

    & > .f-self-top#{$suffix} {
      align-self: flex-start;
    }

    & > .f-self-middle#{$suffix} {
      align-self: center;
    }

    & > .f-self-bottom#{$suffix} {
      align-self: flex-end;
    }

    & > .f-self-stretch#{$suffix} {
      align-self: stretch;
    }

    & > .f-self-baseline#{$suffix} {
      align-self: baseline;
    }
  }

  .f-column#{$suffix} {

    flex-direction: column;

    &.f-top#{$suffix} {
      justify-content: flex-start;
    }

    &.f-middle#{$suffix} {
      justify-content: center;
    }

    &.f-bottom#{$suffix} {
      justify-content: flex-end;
    }

    &.f-spread#{$suffix} {
      justify-content: space-between;
    }

    &.f-left#{$suffix} {
      align-items: flex-start;
    }

    &.f-center#{$suffix} {
      align-items: center;
    }

    &.f-right#{$suffix} {
      align-items: flex-end;
    }

    &.f-stretch#{$suffix} {
      align-items: stretch;
    }

    & > .f-self-left#{$suffix} { 
      align-self: flex-start;
    }

    & > .f-self-center#{$suffix} {
      align-self: center;
    }

    & > .f-self-right#{$suffix} { 
      align-self: flex-end;
    }

    & > .f-self-stretch#{$suffix} {
      align-self: stretch;
    }

  }
}

@include layout-rules("");

@media only screen and (max-width: 600px) {
  @include layout-rules("-s");
}

@media only screen and (min-width: 601px) and (max-width: 992px) {
  @include layout-rules("-m");
}

@media only screen and (min-width: 993px) {
  @include layout-rules("-l");
}

