.f-hide {
  display: none;
}

.f-show {
  display: block;
}

.f-layout {
  display: flex;
}

.f-layout.f-show {
  display: flex;
}

.f-layout.f-row {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  line-height: 1;
}

.f-layout.f-column {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

.f-layout > * {
  flex: 0 0 auto;
}

.f-padding, .f-layout.f-padding > * {
  padding:5px;
}

.f-margin, .f-layout.f-margin > * {
  margin:5px;
}

.f-layout > .f-grow {
  flex: 1 1 auto;
}

.f-layout > .f-shrink {
  flex: 0 0;
}

.f-layout > .f-fixed {
  flex: 0 0 auto;
}

/* aligning child items */

.f-layout.f-row.f-align-top, f-layout.f-column.f-align-left {
  align-items: flex-start;
}

.f-layout.f-row.f-align-center,
.f-layout.f-column.f-align-center {
  align-items: center;
}

.f-layout.f-row.f-align-bottom, f-layout.f-column.f-align-right {
  align-items: flex-end;
}

.f-layout.f-row.f-align-stretch {
  align-items: stretch;
}

.f-layout.f-row.f-align-baseline {
  align-items: baseline;
}

/* aligning self */

.f-layout.f-column.f-left, f-layout.f-row.f-top {
  align-self: flex-start;
}

.f-layout.f-column.f-center,
.f-layout.f-row.f-center {
  align-self: center;
}

.f-layout.f-column.f-right, f-layout.f-row.f-bottom {
  align-self: flex-end;
}

.f-layout.f-row.f-stretch {
  align-self: stretch;
}

.f-layout.f-row.f-baseline {
  align-self: baseline;
}


/* 
.f-justify-start {
  justify-content: flex-start !important;
}

.f-justify-center {
  justify-content: center;
}
*/

@media only screen and (max-width: 600px) {
  .f-row-s {
    flex-direction: row;
  }

  .f-column-s {
    flex-direction: column;
  }

  .f-grow-s {
    flex: 1 1 auto;
  }

  .f-shrink-s {
    flex: 0 0;
  }

  .f-fixed-s {
    flex: 0 1 auto;
  }

  .f-hide-s {
    display: none;
  }

  .f-show-s {
    display: block;
  }

  .f-layout.f-show-s {
    display: flex;
  }

}

@media only screen and (min-width: 601px) and (max-width: 992px) {
  .f-row-m {
    flex-direction: row;
  }

  .f-column-m {
    flex-direction: column;
  }

  .f-grow-m {
    flex: 1 1 auto;
  }

  .f-shrink-m {
    flex: 0 0;
  }

  .f-fixed-m {
    flex: 0 1 auto;
  }

  .f-hide-m {
    display: none;
  }

  .f-show-m {
    display: block;
  }

  .f-layout.f-show-m {
    display: flex;
  }
}

@media only screen and (min-width: 993px) {
  .f-row-l {
    flex-direction: row;
  }

  .f-column-l {
    flex-direction: column;
  }

  .f-grow-l {
    flex: 1 1 auto;
  }

  .f-shrink-l {
    flex: 0 0;
  }

  .f-fixed-l {
    flex: 0 1 auto;
  }

  .f-hide-l {
    display: none;
  }

  .f-show-l {
    display: block;
  }

  .f-layout.f-show-l {
    display: flex;
  }
}
