@mixin layout-rules-common($suffix) {

  .f-row#{$suffix}, .f-column#{$suffix} {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    & > * {
      flex: 0 0 auto; 
    }

    &.f-show#{$suffix} {
      display: flex;
    }

    &.f-padding#{$suffix} > * { 
      padding:10px;
    }

    &.f-margin#{$suffix} > * {
      margin:10px;
    }

  }


}

@mixin layout-rules($suffix) {
  
  @include layout-rules-common($suffix);
  
  .f-row#{$suffix} {
    flex-direction: row; 
    line-height: 1;
    align-items: center;

    @each $type, $prop in (top: flex-start, middle: center, bottom: flex-end, 
    space-between: space-between, space-around: space-around, stretch: stretch) {
      flex-wrap :wrap;

      &.f-wrap-#{$type}#{$suffix} {
        align-content: $prop;
      }
    }

    @each $type, $prop in (left: flex-start, center: center, right: flex-end, 
    space-between: space-between, space-around: space-around) {
      &.f-#{$type}#{$suffix} {
        justify-content: $prop;
      }
    }  

    @each $type, $prop in (top: flex-start, middle: center, bottom: flex-end, stretch: stretch, baseline: baseline) {
      &.f-#{$type}#{$suffix} {
        align-items: $prop;
      }
    }  

    @each $type, $prop in (top: flex-start, middle: center, bottom: flex-end, stretch: stretch, baseline: baseline) {
      & > .f-self-#{$type}#{$suffix} {
        align-self: $prop; 
      }
    }   

  } 

  .f-column#{$suffix} {

    flex-direction: column;
    align-items: center;

    @each $type, $prop in (left: flex-start, center: center, right: flex-end, 
    space-between: space-between, space-around: space-around, stretch: stretch) {
      flex-wrap :wrap;

      &.f-wrap-#{$type}#{$suffix} {
        align-content: $prop;
      }
    }

    @each $type, $prop in (top: flex-start, middle: center, bottom: flex-end, space-between: space-between, space-around: space-around) {
      &.f-#{$type}#{$suffix} {
        justify-content: $prop;
      }
    }  

    @each $type, $prop in (left: flex-start, center: center, right: flex-end, stretch: stretch) {
      &.f-#{$type}#{$suffix} {
        align-items: $prop;
      }
    }  

    @each $type, $prop in (left: flex-start, center: center, right: flex-end, stretch: stretch) {
      & > .f-self-#{$type}#{$suffix} {
        align-self: $prop;
      }
    }  

  }

  .f-hide#{$suffix} { 
    display: none;
  }

  .f-show#{$suffix} {
    display: block;
  }

  .f-grow#{$suffix} {
    flex: 1 1 auto;
  }

  .f-shrink#{$suffix} {
    flex: 0 0;
  }

  .f-fixed#{$suffix} {
    flex: 0 0 auto;
  }

  @for $i from 1 through 5 {
    .f-order-#{$i}#{$suffix} {
      order: $i;  
    }
  }

}

@include layout-rules("");

@media only screen and (max-width: 600px) {
  @include layout-rules("-s");
}

@media only screen and (min-width: 601px) and (max-width: 992px) {
  @include layout-rules("-m");
}

@media only screen and (min-width: 993px) {
  @include layout-rules("-l");
}

